{% extends "layout.html" %}

{% block title %}
    Gratitude Garden Home
{% endblock %}

{% block main %}
<div style="background-image: url('/static/sunflower.jpg');">
<h1 id="romantic">Welcome to the Gratitude Garden!</h1>
    <p>
    Gratitude is a mindset to enrich your life.
    You can grow your gratitude garden every day by treasuring the unique beauty that you experience in your life.
    </p>
<h2 class="title">Be <a href="/grateful-today">Grateful Today</a>.</h2>
<h2 class="title">Walk in your <a href="/gratitude-garden">Gratitude Garden</a>.</h2>
<h2 class="title">Nourish your life by <a href="/watering">Watering Your Gratitude Garden</a>.</h2>
<img src="/static/sunflower.jpg" alt="sunflower on top of rainbow drawing" style="width: 100%">
{% endblock %}